* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
}

header {
  background: teal;
  padding: 1rem 5vw;
}

header a {
  color: white;
  font-weight: 800;
  text-decoration: none;
}

main {
  margin: 4rem auto 6rem;
  max-width: 650px;
  width: 90vw;
}

button {
  background-color: teal;
  border: 0;
  border-radius: 0.25rem;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
}

footer {
  color: #444;
  font-size: 0.875rem;
  text-align: center;
}

footer a {
  color: inherit;
}
